Source: lliurex-permission-control
Section: qml
Priority: optional
Maintainer: lliurex <lliurex@gva.es>
Build-Depends: debhelper-compat (= 12),llxsrchelper,python3-poinstaller,zero-dev
Standards-Version: 4.4.1
Homepage: http://lliurex.net
Vcs-Browser: https://svn.lliurex.net/noble/lliurex-permission-control
Vcs-Git: https://github.com/lliurex/lliurex-permission-control

Package: lliurex-permission-control
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, python3, python3-pyside6.qtqml, python3-pyside6.qtquick, python3-pyside6.qtgui, python3-pyside6.qtwidgets, python3-pyside6.qtquickwidgets, zero-center
Description: App to manage user permissions
 This package provides a gui and cli to manage user permission
